<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <script src="{{relativeURL "assets/js/modernizr.js"}}"></script>
</head>
<body>
<!--<header id="page-header">
    <div class="NavSection Section--black1">
        <div class="container">
            <div class="row u-pr">
                <div class="col-1">
                    <a href="//www.nativescript.org/" class="u-tdn ns-docs-logo">
                        <span class="NSlogo icon-ns  u-dib u-ml1 u-medium-ml4">&nbsp;</span>
                    </a>
                </div>
                <div class="MainNav MobileNav col-7" id="MainNav">
                    <ul class="u-mw120">
                        <li>
                            <a href="/"  class="selected">
                                <span>NativeScript Core</span>
                            </a>
                        </li>
                        <li>
                            <a href="/angular/start/introduction.html">
                                <span>NativeScript with Angular</span>
                            </a>
                        </li>
                        <li>
                            <a href="/api-reference/globals.html">
                                <span>API Reference</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 u-tar u-xsmall-dn">
                    <a href="/start/getting-started" class="Btn Btn--main  Btn--s">Get started</a><a href="https://github.com/NativeScript/" class="Btn u-ml1 Btn--s  Btn--icon icon-github">View in GitHub</a>
                </div>
            </div>
        </div>
    </div>
</header>-->
<header id="page-header">
    <div class="NavSection Section--black1">
        <div class="ns-container">
            <div class="ns-row u-pr">

                <div class="ns-col-2">
                    <div class="hamb nb">
                        <a id="toggle" href="#">
                            <div class="patty">&nbsp;</div>
                        </a>
                    </div>
                    <div class="header-title" title="Welcome">Welcome</div>
                    <a href="//www.nativescript.org/" class="u-tdn ns-docs-logo">
                        <div class="NSlogo icon-ns  u-dib u-ml1 u-medium-ml4">&nbsp;</div>
                    </a>
                </div>

                <div class="ns-col-10 u-tar u-xsmall-dn">
                    <a href="/start/getting-started" class="Btn Btn--main  Btn--s">Get started</a><a href="https://github.com/NativeScript/" class="Btn u-ml1 Btn--s  Btn--icon icon-github">View in GitHub</a>
                </div>

                <div class="MainNav MobileNav" id="MainNav">
                    <ul class="u-mw120">
                        <li>
                            <a href="https://docs.nativescript.org" class="selected">
                                <span>Documentation</span>
                            </a>
                        </li>
                        <li>
                            <a href="//www.nativescript.org/samples">
                                <span>Samples</span>
                            </a>
                        </li>
                        <li>
                            <a href="//www.nativescript.org/roadmap">
                                <span>Roadmap</span>
                            </a>
                        </li>
                        <li>
                            <a href="//www.nativescript.org/blog">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="//www.nativescript.org/contribute">
                                <span>Contribute</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
{{> header}}

<div class="container container-main">
    <div class="row">

        <div class="col-4 col-menu menu-highlight">
            <nav class="tsd-navigation primary">
                <ul>
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ul>
            </nav>

            <nav class="tsd-navigation secondary">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="col-8 col-content">
            {{{contents}}}
        </div>
    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>
